<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO-DO List</title>
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- fontawesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="main">
      <h3>TO-DO List</h3>
      <ul>
        <!-- <li>
          <p>Dummy Item 1</p>
          <i class="fas fa-trash"></i>
        </li>
        <li>
          <p>Dummy Item 2</p>
          <i class="fas fa-trash"></i>
        </li> -->
        <% items.forEach(function(item) { %>
        <li>
          <p><%= item.title %></p>
          <form
            action="/<%= item._id %>/delete"
            method="post"
            style="display: inline"
          >
            <button
              type="submit"
              style="
                border: none;
                background: none;
                margin: none;
                padding: none;
              "
            >
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </li>
        <% }) %>
      </ul>
      <div class="add-to-list">
        <form action="/add" method="post">
          <input type="text" placeholder="Enter the To-Do" name="todo" />
          <button type="submit">+</button>
        </form>
      </div>
    </div>
  </body>
</html>
